.mailbox-page {
    position: relative;

    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;

    overflow: hidden;
}

.mailbox-page::-webkit-scrollbar,
.mailbox-page *::-webkit-scrollbar {
    display: none;
}

.grasses-bottom {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;

    z-index: 100;

    pointer-events: none;
}

.mailbox-container {
    position: relative;

    display: flex;

    flex: 1;
    min-height: 0;

    flex-direction: column;

    padding: 0 18px 0 17px;

    z-index: 1;

    overflow: hidden;
}

.mailbox-image {
    display: block;

    width: 100%;
    height: 302px;

    margin: 0 auto;

    flex-shrink: 0;

    object-fit: contain;
}

.mailbox-page .mail-list {
    display: flex;

    flex: 1;
    min-height: 0;

    flex-direction: column;
    gap: 16px;

    padding-bottom: 120px;

    overflow-x: hidden;
    overflow-y: auto;
}

.mailbox-page .mail-item,
.mailbox-page .mail-item-read {
    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 23px;

    padding: 16px 20px;

    border-radius: 10px;

    background-color: #fffdf6;

    box-shadow: none;
}

.mail-content,
.mail-content-read {
    display: flex;

    flex: 1;
    min-width: 0;

    flex-direction: column;
    gap: 7px;

    overflow: hidden;
}

.mail-title,
.mail-title-read {
    align-self: stretch;

    margin: 0;

    overflow: hidden;

    font-size: 16px;
    font-weight: 500;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.mail-desc,
.mail-desc-read {
    max-width: 250px;

    margin: 0;

    overflow: hidden;

    font-size: 12px;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.mail-date,
.mail-date-read {
    margin: 4px 0 0;

    font-size: 10px;
}

.unread-dot {
    width: 6px;
    height: 6px;

    flex-shrink: 0;
}

.mail-item-read {
    color: #686866;
}