/* ==============================
    Font
============================== */

@font-face {
    font-family: Pretendard;

    src:
        url("../assets/fonts/pretendard-variable.woff2")
        format("woff2");

    font-weight: 100 900;
    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family:
        "Magical Night";

    src:
        url("../assets/fonts/magical-night.ttf")
        format("truetype");

    font-weight: 400;
    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: Warhaven;

    src:
        url("../assets/fonts/nexon-warhaven-regular.ttf")
        format("truetype");

    font-weight: 400;
    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: Warhaven;

    src:
        url("../assets/fonts/nexon-warhaven-bold.ttf")
        format("truetype");

    font-weight: 700;
    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: Hahmlet;

    src:
        url("../assets/fonts/Hahmlet-VariableFont_wght.ttf")
        format("truetype");

    font-weight: 400;
    font-style: normal;

    font-display: swap;
}


/* ==============================
    프로젝트 공통 변수
============================== */

:root {
    --color-green-main:
        #315338;

    --color-background:
        #faf6eb;

    --color-text:
        #000000;

    --color-green-muted:
        #315338d4;

    --color-brown:
        #9c8779;

    --color-text-muted:
        #00000073;

    --color-green-sub:
        #455535;

    --color-beige:
        #e0cdb6;

    --color-gray-light:
        #e4e3df;

    --max-mobile-width:
        402px;

    --color-page-backgroud:
        #f8f7f4;
}


/* ==============================
    CSS Reset
============================== */

* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;

    width: 100%;
    min-height: 100%;
    height: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    border: 0;

    padding: 0;

    background: none;

    color: inherit;

    cursor: pointer;
}

a {
    color: inherit;

    text-decoration: none;
}

img {
    display: block;

    max-width: 100%;
}


/* ==============================
    프로젝트 공통 스타일
============================== */

body {
    margin: 0;

    width: 100%;
    height: 100%;

    background-color:
        var(--color-page-backgroud);

    color:
        var(--color-text);

    font-family:
        Pretendard,
        sans-serif;

    overflow: hidden;
}

#root {
    display: flex;

    width: 100vw;
    height: 100dvh;

    justify-content: center;
    align-items: center;

    background-color:
        var(--color-page-backgroud);

    overflow: hidden;
}


/* ==============================
    모바일
============================== */

@media (max-width: 402px) {
    #root {
        align-items:
            flex-start;
    }
}