.home-container {
  position: relative;

  width: 100%;
  min-height: 100dvh;

  background-image: url("@/assets/images/custom/home-background.svg");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;

  background-color: var(--color-background);

  overflow: hidden;
}

/*
  Figma 기준 402 × 874 영역
  화면 너비가 달라져도 같은 비율로 배치하기 위한 기준 영역
*/
.home-design {
  position: relative;

  width: 100%;
  aspect-ratio: 402 / 874;
}

/*
  공연 정보 전체 영역
*/
.home-info {
  position: absolute;

  top: 30.66%;
  left: 22.64%;
  right: 22.64%;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  color: #605A30;
}

/* MAGGIE'S GARDEN */
.home-title {
  margin: 0;

  font-family: "Stoke", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  white-space: nowrap;
}

/* 위/아래 장식 구분선 */
.home-divider {
  width: 104px;
  height: 29px;

  object-fit: contain;
  flex-shrink: 0;
}
/* 아래 구분선과 날짜/장소 사이 여백 */
.home-subtitle + .home-divider {
  margin-bottom: 7px;
}

/* pouring love and letters */
.home-subtitle {
  margin: 0;

  font-family: Warhaven;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;

  white-space: nowrap;
}

/* 날짜 + 장소 */
.home-performance-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: Warhaven;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.home-performance-info p {
  margin: 0;
}